<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DairyManagementSystem.Properties.Settings.DairydbConnectionString"
            connectionString="Data Source=(LocalDB)\MSSQLLocalDB;Initial Catalog=Dairydb;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="DairyManagementSystem.Properties.Settings.C__MILKRATE_DB_MDF"
            connectionString="Data Source=(LocalDB)\MSSQLLocalDB;Initial Catalog=&quot;C:\USERS\ARCHANA\SOURCE\REPOS\DAIRYMANAGEMENTSYSTEM\DAIRYMANAGEMENTSYSTEM\MILKRATE DB.MDF&quot;;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
</configuration>